/*color: var(--cds-text-01, #161616);*/
.center {
	display: flex;
	justify-content: center;
}
.warning-card {
	margin-top: -20px;
}

.bx--side-nav__item.bx--side-nav__item--icon a.bx--side-nav__link {
	margin-left: -55px;
}
